<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aymane, Théau, Ahmed">
    <title>Bienvenu</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #f5f7fa; 
            background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2); 
            display: flex;
            flex-direction: column;
            align-items: center;
            
            height: 100vh;
            font-family: 'Helvetica Neue', sans-serif;
            color: #333;
        }  
    </style>
</head>
<body>
    <h3>Bienvenu</h3>
    <hr/>
</body>
</html>
